<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      px-2 py-1
      flex flex-row
      backdrop-blur-2xl
    `}
  >
  
  <a class="hover:bg-white/10 rounded-full px-3 transition" href="#sobre-mi"
  >Sobre mí</a
>
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="#experiencia">Experiencia</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#edudacion"
      >Educación</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#idiomas"
      >Idiomas</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#herramientas"
      >Herramientas</a
    >
  </nav>
</header>